@font-face {
  font-family: 'noway';
  src: url('./fonts/noway-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway-light-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway_bold_italic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway_light_italic-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway_medium_italic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway_regular_italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'noway';
  src: url('./fonts/noway_thin_italic-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}