@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'noway';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.markdown {
  white-space: pre-wrap;
}

.markdown br {
  content: "";
  display: block;
  margin-bottom: 20px;
}

.markdown li {
  list-style-type: disc;
}

.markdown ul {
  list-style-type: square;
  padding-left: 20px;
}

.markdown h2 {
  font-weight: 700;
  font-size: 1.2rem;
  padding-top: 0;
  margin-top: 0;
}

.underlineHover {
  display: inline-block;
  position: relative;
}

.underlineHover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.underlineHover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.underlineAnimation {
  display: inline-block;
  position: relative;
}

.underlineAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  transform: scaleX(1);
}

.underlineAnimation:hover:after {
  transform: scaleX(0);
  transform-origin: bottom left;
}