@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'noway';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.markdown {
  white-space: pre-wrap;
}

.markdown br {
  content: "";
  display: block;
  margin-bottom: 20px;
}

.markdown li {
  list-style-type: disc;
}